body{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    font-weight: bolder;
}

#main{
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#board{
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
}

#keyboard{
    width: 350px;
    bottom: 0;
    position: absolute;
}

.try{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.letter[status='empty']{
    background-color: white;
    border: 2px solid silver;
}

.letter[status='written']{
    color: black;
    border: 2px solid black;
}

.letter[status='green']{
    background-color: green;
    color: white;
    animation: green-animation 0.8s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.letter[status='gray']{
    background-color: gray;
    color: white;
}

.letter[status='yellow']{
    background-color: rgb(190, 190, 0);
    color: white;
}

.letter{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    user-select: none;
}

@keyframes green-animation {
    0% 
    { 
        transform: none;
        background-color: white;
        border: 2px solid silver; 
    }
    20% { transform: scale(1.2); }
    50% { transform: rotateY(90deg) scale(1.2); }
    80% { transform: rotateY(0deg) scale(1.2); }
    100% 
    { 
        transform: none;  
        background-color: green;
        color: white;
    }
}
  

.kboard-row{
    display: flex;
    width: 100%;
    margin: 0 auto 5px;
}

.key{
    flex: 1;
    margin: 0 6px 0 0;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d6da;
    border-radius: 6px;
}

.key[status='gray']{
    background-color: gray;
    color: white;
}

.key[status='yellow']{
    background-color: rgb(190, 190, 0);
    color: white;
}

.key[status='green']{
    background-color: green;
    color: white;
}

.metakey{
    flex: 1.5;
}