body{
    margin: 0;
    padding: 0;
}

#main{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#board{
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
}

.try{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.letter[status='empty']{
    background-color: white;
    border-color: silver;
}

.letter[status='written']{
    color: black;
    border-color: black;
}

.letter[status='true']{
    background-color: green;
    color: white;
    border-color: black;
}

.letter{
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    display: flex;
    font-size: 2rem;
    user-select: none;
}